node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Rust / Tauri (Aquí están los 6 GB)
src-tauri/target/

# Archivos de bloqueo de Rust
Cargo.lock